# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

### startd-server ###

# webpack output
/public
/server.bundle.js
/lib/server.bundle.js

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
