{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": true } }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ]
}
